#btn{
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#btn1{
	width:30%;
	 background-color: #4CAF50;
    color: white;
    padding: 14px 100px;
    margin: 8px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}
#btn2{
	width:30%;
	 background-color: #4CAF50;
    color: white;
    padding: 14px 50px;
    margin: 12px 150px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}
#btn3{
	width:30%;
	 background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 12px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}
